h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(219, 230, 129);
}

form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  border: 2px solid rgb(223, 238, 11);
  border-radius: 5;
}

button:hover {
  color: rebeccapurple;
  border-radius: 10px;
}
