h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(219, 230, 129);
}

form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

button:hover {
  color: rebeccapurple;
  border-radius: 10px;
}
