.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: rgb(4, 32, 31) !important;
}

.container input:focus {
  border: 2px solid rgb(223, 238, 11);
}
